body {
  font-family: Courier;
  background: linear-gradient(hsl(186, 76%, 16%), hsl(223, 90%, 60%), hsl(240, 56%, 42%)) ;
  color: Black;
  text-align: center;
}

h1, h2, h4, h5, h6 {
  font-family: Times New Roman;
  text-align: center;
}

h3 {
  font-family: Times New Roman;
  text-align: Left;
}

p {
  font-family: Courier;
  text-align: center;
}

ul.right-aligned {
  text-align: right;
}


.interactive-box {
  background-color: White;
  padding: 5px;
  text-align: center;
  
}

button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: Green;
}

#skill-list {
    text-align: left;
}

.interactive-skills li {
    list-style-type: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.interactive-skills li:hover {
    background-color: purple;
    color: white; 
}


.education {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    margin-top: 20px;
}

.education-box {
    text-align: center;
    border: 2px solid #ccc; 
    padding: 10px;
    border-radius: 10px; /* Rounded corners */
    width: 200px; 
}

.education-box img {
    width: 190px;
    height: 100px;
}

.education-box p {
    margin-top: 10px;
    font-weight: bold;
}
