body {
  font-family: Courier;
  background: linear-gradient(45deg, rgba(13, 0, 61,0.2) 0%, rgba(13, 0, 61,0.2) 16.667%,rgba(14, 79, 102,0.2) 16.667%, rgba(14, 79, 102,0.2) 33.334%,rgba(15, 158, 143,0.2) 33.334%, rgba(15, 158, 143,0.2) 50.001%,rgba(16, 198, 163,0.2) 50.001%, rgba(16, 198, 163,0.2) 66.668%,rgba(15, 119, 122,0.2) 66.668%, rgba(15, 119, 122,0.2) 83.335%,rgba(14, 40, 81,0.2) 83.335%, rgba(14, 40, 81,0.2) 100.002%),linear-gradient(22.5deg, rgba(13, 0, 61,0.2) 0%, rgba(13, 0, 61,0.2) 16.667%,rgba(14, 79, 102,0.2) 16.667%, rgba(14, 79, 102,0.2) 33.334%,rgba(15, 158, 143,0.2) 33.334%, rgba(15, 158, 143,0.2) 50.001%,rgba(16, 198, 163,0.2) 50.001%, rgba(16, 198, 163,0.2) 66.668%,rgba(15, 119, 122,0.2) 66.668%, rgba(15, 119, 122,0.2) 83.335%,rgba(14, 40, 81,0.2) 83.335%, rgba(14, 40, 81,0.2) 100.002%),linear-gradient(0deg, rgba(13, 0, 61,0.2) 0%, rgba(13, 0, 61,0.2) 16.667%,rgba(14, 79, 102,0.2) 16.667%, rgba(14, 79, 102,0.2) 33.334%,rgba(15, 158, 143,0.2) 33.334%, rgba(15, 158, 143,0.2) 50.001%,rgba(16, 198, 163,0.2) 50.001%, rgba(16, 198, 163,0.2) 66.668%,rgba(15, 119, 122,0.2) 66.668%, rgba(15, 119, 122,0.2) 83.335%,rgba(14, 40, 81,0.2) 83.335%, rgba(14, 40, 81,0.2) 100.002%),linear-gradient(90deg, rgb(29,72,10),rgb(24,69,59));  color: Black;
  text-align: center;
}

h1,
h2,
h4,
h5,
h6 {
  font-family: Times New Roman;
  text-align: center;
}

h3 {
  font-family: Times New Roman;
  text-align: Left;
}

p {
  font-family: Courier;
  text-align: center;
}

pic {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 0 auto;
  display: block;
  border-radius: 45%;
  border: 2px solid black;
}

ul.right-aligned {
  text-align: right;
}

.interactive-box {
  padding: 1px;
  text-align: center;
  color: Black;
  max-width: 1000px;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 75px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #0B9A6D;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #7BBD00;
}

/* skill list */

#skill-list {
  text-align: left;
  font-family: Times New Roman;
  padding-left: 20px; 
}

.interactive-skills li {
  list-style-type: none;
  font-family: Times New Roman;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.interactive-skills li:hover {
  background-color: #7BBD00;
  color: white;
}



.education {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
  margin-top: 20px;
}

.education-box {
  text-align: center;
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
  margin: 0 30px;
  transition: transform 0.05s ease;
}

.education-box:hover {
  transform: scale(1.05);
}

.education-box img {
  width: 190px;
  height: 100px;
}

.education-box p {
  margin-top: 10px;
  font-weight: bold;
}


/* Nav Bar */
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #7BBD00;
}
